* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 4fr;
    gap: 10px;
    color: white;
    height: 100vh;
    overflow: hidden;
}
/* sidebar syle section */
.side-bar {
    background-color: rgb(21, 159, 245);
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 50px 1fr;
}

.side-bar > .top-section {
    display: flex;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    font-weight: bolder;
    padding: 10px 25px 10px 10px;
    align-items: center;
}

.side-bar > .navigation {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 10px;
    margin-top: 20px;
}

.side-bar > .navigation > .essentials, .branding {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

.side-bar > .navigation > .essentials > .nav-icon-button, .branding-icon-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.side-bar > .navigation > .essentials > .nav-icon-button a, .branding-icon-button a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    color: white;
    text-align: center;
}

/* header style section */
.header {
    grid-column: 2 / 4;
    background-color: rgb(210, 238, 154);
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: black;
}

.header .search-section{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.header .search-section input {
    width: 350px;
    border-radius: 15px;
    height: 35px;
}

.header .right-corner {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.header .main-profile {
    display: flex;
    gap: 15px;
    padding-left: 15px;
}

.header .create {
    display: flex;
    align-items: center;
}

.header .create ul {
    display: flex;
    gap: 15px;
    margin-right: 150px;
}

.header .create ul li {
    display: flex;
    list-style-type: none;
    padding-right: 50px;
}

.header .create ul li button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(21, 159, 245);
    color: white;
    width: 80px;
    border-radius: 15px;
    height: 35px;
}

.header .create ul li button:hover {
    background-color: rgb(100, 190, 247);
}

.main-content {
    grid-column: 2 / 4;
    background-color: green;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.essential-icon {
    width: 25px;
    height: 25px;
    
}

.dashboard-icon {
    width: 40px;
    height: 40px;
}

.account-icon {
    width: 40px;
    height: 35px;
}

